In [2]:
import pandas as pd
import numpy as np

In [3]:
path = '/media/onno/Volume/GFS_T850/dates/'
coordinatez = [
(62,54,0,8),#Germany
(54,46,0,8), #Spain
(46,38,0,8), #Ukraine
(62,54,8,16),#Germany
(54,46,8,16), #Spain
(46,38,8,16), #Ukraine
(62,54,16,24),#Germany
(54,46,16,24), #Spain
(46,38,16,24),
] #Ukraine

month_to_season_dct = {
    1: 'DJF', 2: 'DJF',
    3: 'MAM', 4: 'MAM', 5: 'MAM',
    6: 'JJA', 7: 'JJA', 8: 'JJA',
    9: 'SON', 10: 'SON', 11: 'SON',
    12: 'DJF'
}

In [11]:
eventz = ['pw','cw','avg_p40_p60']
file = '{}_lon_{}_{}_lat_{}_{}.npy'

df = pd.DataFrame(0,index = ['DJF','MAM','JJA','SON'],columns=eventz)
for lat_1,lat_0,lon_0,lon_1 in coordinatez:
    for event in eventz:
        arr = np.load(path+file.format(event,lon_0,lon_1,lat_1,lat_0),allow_pickle=True)
        begin_season = pd.Series([month_to_season_dct[pd.to_datetime(i).month] for i in arr[:,0]])
        countz = begin_season.groupby(begin_season).count().reindex(['DJF','MAM','JJA','SON'])
        df[event] += countz.values
        
df.to_csv(path+'total_counts.csv')

In [7]:
begin_season.groupby(begin_season).count()

DJF    34
JJA    39
MAM    30
SON    32
dtype: int64

In [9]:
df

      pw   cw  avg_p40_p60
DJF  234  274          244
MAM  252  275          256
JJA  242  227          266
SON  248  229          237